body {
  font-family: "Nunito Sans", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#structure,
#divisi,
#vsms,
#contact {
  background-color: #e2edff;
}

section {
  padding-top: 3rem;
}
